{% extends 'scoreboard/base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'scoreboard/tourney.css' %}" />

<div class="tournament">
   <center><img class="ttitle" src="{% static 'x-Tournament Results.png' %}"></center><br>
        {% for tourGame in tourGames %}
            <div class="TourneyGame">
                <h1 class="TourneyTitle {% if not tourGame.first %} upcomingTourney {% endif %}"><img class="tourneyThumb float-left" src="{{ tourGame.image }}" \>{{ tourGame.title }} </h1>

                <ol class="tourneyPlaces"><b class="time">{{ tourGame.time }}</b>
               {% if tourGame.first %}<li class="gold">{{tourGame.first }}</li>{% endif %}
              {% if tourGame.second%}<li class="silver">{{tourGame.second }}</li>{% endif %}
             {% if tourGame.third%} <li class="bronze">{{tourGame.third}}</li>{% endif %}
          </ol>

            </div>

        {% endfor %}

{% endblock %}
</div>
{#       {% if forloop.counter0|divisibleby:2   %}Hi{% endif %}#}